<h1>Discover</h1>

<div *ngIf="topTopics.length >= 10">
  <h2>Top</h2>
  <p>Trending right now!</p>
  <!-- TODO: make the cards a component. -->
  <div class="card-columns">
    <div *ngFor="let topic of topTopics" class="card">
      <div class="card-body">
        <h5>
          <teteTopicLink [topic]="topic"></teteTopicLink>
        </h5>
      </div>
    </div>
  </div>
</div>

<div *ngIf="waitingTopics.length > 0">
  <h2>Waiting for a mentor</h2>
  <p>If you're knowledgable in any of these topics we've got people who want to learn!</p>
  <div class="card-columns">
    <div *ngFor="let topic of waitingTopics" class="card">
      <div class="card-body">
        <h5>
          <teteTopicLink [topic]="topic"></teteTopicLink>
        </h5>
      </div>
    </div>
  </div>
</div>

<div>
  <h2>Newest</h2>
  <p>These are the latest topics to be created.</p>
  <div class="card-columns">
    <div *ngFor="let topic of newestTopics" class="card">
      <div class="card-body">
        <h5>
          <teteTopicLink [topic]="topic"></teteTopicLink>
        </h5>
      </div>
    </div>
  </div>
</div>

<div>
  <h2>Search</h2>
  <teteTopicSearch></teteTopicSearch>
</div>