<h1>{{user.displayName}}</h1>
<h2>{{user.userName}}</h2>

<div *ngIf="working.editing">

  <div>
    <span aria-labelledby="txtDisplayName">Name</span><br />
    <input type="text" id="txtDisplayName" [(ngModel)]="user.displayName" />
  </div>
  <div>
    <span aria-labelledby="txtAbout">About</span><br />
    <textarea id="txtAbout" [(ngModel)]="user.profile.about"></textarea>
  </div>

  <div>
    <span aria-labelledby="txtPrivateAbout">Private About</span><br />
    <textarea id="txtPrivateAbout" [(ngModel)]="user.profile.privateAbout"></textarea>
  </div>

  <div>
    Language
    <select [(ngModel)]="tmpModel.language">
      <option>Select</option>
      <option *ngFor="let lang of languages" value="{{lang.languageId}}">{{lang.name}}</option>
    </select>
    <button (click)="addLanguage()">Add</button>
  </div>
  <div>
    <div *ngFor="let lang of user.languages">{{lang.name}}</div>
  </div>
  <button (click)="save()">Save</button><button (click)="cancel()">Cancel</button>
</div>
<div *ngIf="!working.editing">
  <button *ngIf="working.self" (click)="working.editing = true;">Edit</button>
  <div>
    <h2>About</h2>
    <div>{{user.profile.about}}</div>
  </div>
</div>