<h1>{{user.displayName}} Profile</h1>
<div class="alert alert-primary" *ngIf="!user.userName">
  This is a guest profile.<br />
  If you register for a <strong>free</strong> full account you'll be able to:
  <ul>
    <li>Create new topics</li>
    <li>Register as a mentor</li>
    <li>Log in from multiple devices</li>
  </ul>
</div>
<span *ngIf="user.userName">Username: {{user.userName}}</span>

<div *ngIf="working.editing">
  <div *ngIf="user.userName">
    <h2>About</h2>
    <div>
      <span id="txtDisplaynameLabel">Name</span><br />
      <input type="text" aria-labelledby="txtDisplaynameLabel" id="txtDisplayName" [(ngModel)]="user.displayName" />
    </div>
    <div>
      <span id="txtAboutLabel">About</span><br />
      <textarea id="txtAbout" aria-labelledby="txtAboutLabel" [(ngModel)]="user.profile.about"></textarea>
    </div>

    <div>
      <span aria-labelledby="txtPrivateAbout">Private About</span><br />
      <textarea id="txtPrivateAbout" [(ngModel)]="user.profile.privateAbout"></textarea>
    </div>

    <div *ngIf="false">
      <h2>Languages</h2>
      <div>
        Language
        <select [(ngModel)]="tmpModel.language">
          <option>Select</option>
          <option *ngFor="let lang of languages" value="{{lang.languageId}}">{{lang.name}}</option>
        </select>
        <button (click)="addLanguage()">Add</button>
      </div>
      <div>
        <div *ngFor="let lang of user.languages">
          <h3>{{getLangName(lang.languageId)}}</h3>
          <button (click)="removeLanguage(lang.languageId)">Remove</button>
          <div>
            <input id="chkRead.{{lang.languageId}}" type="checkbox" [(ngModel)]="lang.read" title="Read" />
            <label for="chkRead.{{lang.languageId}}">Read</label>
          </div>
          <div>
            <input id="chkSpeak.{{lang.languageId}}" type="checkbox" [(ngModel)]="lang.speak" />
            <label for="chkSpeak.{{lang.languageId}}">Speak</label>
          </div>
        </div>
      </div>
    </div>
    <button (click)="save()">Save</button><button (click)="cancel()">Cancel</button>
  </div>

  <!-- TODO: Add ToS and Privacy Policy -->
  <h2>Login</h2>
  <div class="form-group">
    <div class="alert alert-warning" *ngIf="working.responseMessages.length > 0">
      <ul>
        <li *ngFor="let m of working.responseMessages">{{m}}</li>
      </ul>
    </div>
    <div>
      <label for="txtUsername">Username</label>
      <input id="txtUsername" type="text" class="form-control" [(ngModel)]="working.registration.userName" />
      <button class="btn btn-secondary" *ngIf="user.userName" (click)="updateUserName()">Update UserName</button>
    </div>

    <div>
      <label for="txtNewPassword">Password</label>
      <input id="txtNewPassword" [type]="working.registration.displayPassword ? 'text' : 'password'"
        class="form-control" [(ngModel)]="working.registration.password" />
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="working.registration.displayPassword"
          id="chkPasswordDisplayToggle">
        <label class="form-check-label" for="chkPasswordDisplayToggle">Display Password</label>
      </div>
      <button class="btn btn-secondary" *ngIf="user.userName" (click)="resetPassword()">Update Password</button>
    </div>
    <div *ngIf="!user.userName">
      <div class="form-check">
        <input id="chkTOS" class="form-check-input" type="checkbox" [(ngModel)]="working.registration.checkedTOS" />
        <label class="form-check-label" for="chkTOS">I agree to the ToS and Privacy Policy</label>
      </div>
      <button class="btn btn-secondary" (click)="registerNewLogin()"
        [disabled]="!working.registration.checkedTOS">Register New Acount</button>
      <button class="btn btn-primary" (click)="login()" [disabled]="!working.registration.checkedTOS">Login</button>
    </div>
  </div>
</div>

<div *ngIf="!working.editing">
  <button class="btn btn-secondary" *ngIf="working.self" (click)="working.editing = true;">Edit</button>
  <div>
    <h2>About</h2>
    <div>{{user.profile.about}}</div>
    <div *ngIf="false">
      <h2>Languages</h2>
      <div>
        <div *ngFor="let lang of user.languages">
          {{getLangName(lang.languageId)}}
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-secondary" href="/Login/Logout" *ngIf="working.self">Logout</a>
</div>