/* You can add global styles to this file, and also import other style files */

button {
  margin: 3px;
}
.subLinks > a {
  margin: 5px;
}

.warning {
  font-weight: bold;
  color: rgb(180, 0, 0);
}

pre {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
}