@{
  Layout = "_Layout";
}

<h1>Login</h1>

@using(Html.BeginForm())
{
<section>
  <div>
    <label for="userName">UserName</label>
    <input type="textbox" name="userName"/>
  </div>
  <div>
    <label for="userPassword">Password</label>
    <input type="password" name="userPassword"/>
  </div>
  <div>
    <a href="/Login/Forgot">Forgot Password?</a>
    <a href="/Login/Register">Register Accont</a>
  </div>
  <input type="submit">
</section>
}