@{
  Layout = "_Layout";
}

<h1>Login</h1>

@using(Html.BeginForm())
{
<section>
  <div>
    <label for="userEmail">Email</label>
    <input type="textbox" name="userEmail"/>
  </div>
  <div>
    <label for="userPassword">Password</label>
    <input type="password" name="userPassword"/>
  </div>
  <div>
    <a href="/Forgot">Forgot Password?</a>
    <a href="/Register">Register Accont</a>
  </div>
  <input type="submit">
</section>
}