@model string
@{
  Layout = "_Layout";
}


@using(Html.BeginForm())
{
<h2>Login</h2>
@if(Model != null)
{
  <ul>
    <li>@Model</li>
  </ul>
}
<section>
  <div>
    <label for="userName">UserName</label>
    <input type="textbox" name="userName"/>
  </div>
  <div>
    <label for="userPassword">Password</label>
    <input type="password" name="userPassword"/>
  </div>
  <div>
    Don't have an account yet?
    <a href="/Login/Register">Register</a>
  </div>
  <input type="submit">
</section>
}