@{
  Layout = "_Layout";
}

<h1>Register New Account</h1>

@using(Html.BeginForm())
{
<section>
  <div>
    <label for="userEmail">Email</label>
    <input type="textbox" name="userEmail" />
  </div>
  <div>
    <label for="userPassword">Password</label>
    <input type="password" name="userPassword" />
  </div>
  <input type="submit">
</section>
}
