<div *ngIf="learningMentorships.length > 0">
  <h2>Learning</h2>
  <teteMentorList [mentorships]="learningMentorships"></teteMentorList>
</div>

<div *ngIf="teachingMentorships.length > 0">
  <h2>Teaching</h2>
  <teteMentorList [mentorships]="teachingMentorships"></teteMentorList>
</div>

<div>
  <h2>Topic Search</h2>
  <teteTopicSearch></teteTopicSearch>
</div>

<div *ngIf="currentUserTopics.length > 0">
  <h2>Your Topics</h2>
  <div class="card-columns">
    <teteTile *ngFor="let topic of currentUserTopics" [topic]="topic"></teteTile>
  </div>
</div>