<div *ngIf="learningMentorships.length > 0">
  <h2>Learning</h2>
  <teteMentorList [mentorships]="learningMentorships"></teteMentorList>
</div>

<div *ngIf="teachingMentorships.length > 0">
  <h2>Teaching</h2>
  <teteMentorList [mentorships]="teachingMentorships"></teteMentorList>
</div>

<div>
  <h2>Topic Search</h2>
  <teteTopicSearch></teteTopicSearch>
</div>

<div *ngIf="currentUserTopics.length > 0">
  <h2>Your Topics</h2>
  <div class="card-columns">
    <div class="card teteCard" *ngFor="let topic of currentUserTopics">
      <div class="card-body">
        <h5 class="card-title">
          <teteTopicLink [topic]="topic"></teteTopicLink>
        </h5>
        <h6 class="card-subtitle">{{topic.userTopic.statusText}}</h6>
        {{topic.description}}
      </div>
    </div>
  </div>
</div>