<h1 *ngIf="currentUser">Hello, {{currentUser.displayName}}!</h1>

<div>
  <h2>Active Mentorships</h2>
  <div *ngIf="mentorships.length > 0">
    <div *ngFor="let mentorship of mentorships" class="tile">
      <div>{{ mentorship.hasMentor && mentorship.mentorUserId == currentUser.userId ? 'Teaching' : 'Learning' }}</div>
      <a [routerLink]="['/mentorship/', mentorship.mentorshipId]">{{mentorship.topic.name}}</a><br />
      <span *ngIf="mentorship.hasMentor && mentorship.mentorUserId != currentUser.userId">Mentor: <teteProfileLink
          [user]="mentorship.mentor"></teteProfileLink></span>
      <span *ngIf="mentorship.hasMentor && mentorship.mentorUserId == currentUser.userId">Learner: <teteProfileLink
          [user]="mentorship.learner"></teteProfileLink></span>
      <span *ngIf="!mentorship.hasMentor">Mentor: Not Assigned</span>
    </div>
  </div>
</div>

<div>
  <h2>Topic Search</h2>
  <input type="text" [(ngModel)]="tmp.searchText" (keyup.enter)="Search()" />
  <button (click)="Search()">Go</button>
  <div *ngIf="search.done">
    <h3>Results</h3>
    <div *ngFor="let topic of topics">
      <a [routerLink]="['/topic/', topic.topicId]">{{topic.name}}</a>
      <div>{{topic.description}}</div>
    </div>
    <div *ngIf="search.newTopic">
      <h4>Didn't see what you were looking for?</h4>
      <a [routerLink]="['/topic/create/', search.text]">Create new topic:
        {{search.text}}</a>
      <div>
        Create the topic now to request or become a mentor for whatever you want to do.
      </div>
    </div>
  </div>
</div>

<div *ngIf="currentUserTopics.length > 0">
  <h2>Your Topics</h2>
  <div *ngFor="let topic of currentUserTopics" class="tile">
    <teteTopicLink [topic]="topic"></teteTopicLink><br />
    {{topic.userTopic.statusText}}
  </div>
</div>