<h1>Language Admin</h1>

<select [(ngModel)]="currentLanguage">
  <option *ngFor="let language of Languages" [ngValue]="language">
    {{ language.name }}
  </option>
</select>

<input #txtNewLanguage type="text" [(ngModel)]="newLanguageInput">
<button (click)="addLanguage(txtNewLanguage.value)">Add Language</button>

<div *ngFor="let element of fullElements">
  {{element}} - <input type="text" [(ngModel)]="currentLanguage.elements[element]">
</div>
<button (click)="addElement()">New Element</button>